mixin section_new()
    section.new
        .container--small
            h2.section-title Новинки
            .new-items.clearfix
                each item in new_items
                    +new_item(item)

mixin section_features()
    section.features
        .container--big
            ul.features__list.clearfix
                each item in features_items
                    li(class= ['feature-item', `feature-item--${item.class}`])
                        h2.title= item.h2
                        p.text= item.p

mixin section_history()
    section.history
        .container--small
            h2.section-title Немного истории
            dl.history__list
                each item in history_item
                    +history_item(item)

mixin section_news()
    section.news
        .container--small
            h2.section-title Пресса о нас
            blockquote.news__block
                each item in news__block
                    p= item.text
                    cite.news__author= item.author
                    a.btn.btn--gray(href="#") Читать далее

mixin section_range()
    section.range
        .container--small
            h2.section-title Ассортимент
            table.range__table
                thead
                    tr
                        each item in th_table
                            th= item
                tbody
                    each item in catalog
                        + cat_item(item)

mixin section_order()
    section.order
        .container--small
            h2.section-title Заказать
            p.order__text Не ждите пока нас отрекламируют, как Вятский квас, и мы поднимем цены! Закажите настоящий крафтовый квас сейчас. При заказе от 10 баррелей — скидка 10%.
            +form('order__form', formConfig)

mixin footer()
    footer.footer
        .container--big
            .footer__top.clearfix
                a.footer__logo: img(src="img/logo.png" alt="лого")
                +list(menu, 'footer__menu')
            .footer__bottom.clearfix
                .footer__social
                    each item in social_btns
                        a.social-btn(href= item.link)= item.name
                    p При перепечатке материалов ссылка на сайт обязательна!
                .footer__copyright
                    img(src="img/htmlacademy.png" alt="htmlacademy")
                    b Разработчик:
                    a(href="#") HTML Academy