mixin img(img, alt)
    img(src=`img/${img}`, alt= alt)

mixin list(list, classList)
    ul(class= classList)
        each item in list
            li.menu__item: a(href=item.url)= item.title

mixin cat_item(item)
    tr
        td= item.title
        td &gt;
            span= ` ${item.alc}%`
        td= item.cal
        td= `${item.ob} мл`
        td= item.sum + 'Р.'

mixin form_el(params)
    .form__group
        label(for= params.id)= params.label
        if (params.list)
            select(name= params.id, id= params.id)
                option(value='') Выберите вариант
                each item in params.list
                    option(value= item.value, selected=item.value == params.value)=item.title
        else if(params.longText)
            textarea(name= params.id, id= params.id)= params.value
        else if(params.checkbox)
            // $(params.checkbox).parentsUntil('form__group').addClass('checkbox-area');
            input(type="checkbox" id= params.id name= params.id checked= params.value)
        else
            input(type="text", name= params.id, id= params.id, value= params.value)

mixin new_item(item)
    div.new-item
        h3.new-title= item.title
        div.new-item__ingridient
            Table
                tr
                    td  Алк.
                    td &lt;
                        span= ` ${item.alc}%`
                tr
                    td Ккал
                    td= item.cal
            p.new-item__compound= item.sostav
        img(src=`img/${item.img}` alt=item.title)
        p.new-item__text= item.description
        div.new-item__buttons
            a.btn.btn--wht(href="#") Подробнее
            a.btn.btn--brn(href="#") Купить
            b.price= `${item.price} Р.`

mixin history_item(item)
    .history-container
        dt.history-item__name= item.name
            i.history-item__source Источник:
                a(href= item.link target="_blank") ru.wikipedia.org
        dd.history-item__description
            img.pic(src=`img/${item.img}` alt=item.name)
            p.text= item.description

mixin form(className, config)
    form(action="#" method="POST", class= className)
        each formItem in config
            .col(class= formItem.classes)
                +form_el(formItem)
        input.btn.btn--brn(type="submit" name="order-push" value="Отправить заказ")